@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
} */

.dept , .tech ,.account, .teamhr, .support, .bdteam, .design{
    display: flex;
    /* height: 90vh; */
    align-items: center;
    justify-content: center;
    /* font-size: 3rem; */
} 

.dept{
    padding-right: 300px;
    height: 50vh;
}

.tech-data{
    padding-top: 10vh;
}

.dept-data{
  padding-top: 100px;
  padding-left: 400px;
  /* padding: 20vh; */
}

table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }